  <% action_panel do |p| -%>
    <%= p.link "Add a new video", :action => 'edit', :icon => 'add.gif' -%>
  <% end -%>
  
  <hr/>
  
  <div class='admin_content'>
   <%= active_table_render :video_table -%>   
  </div>
